* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bt {
    border: 1px solid red;
}

header {
    height: 65px;
    background: rgb(48, 43, 35);
}

header .main-wrapper>img {
    height: 65px;
}

.main-wrapper {
    margin: 0 auto;
    width: 1170px;
    padding: 15px;
}

.main-menu>ul>li {
    display: inline-block;
}

header .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main-menu>ul>li>a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
}

.main-menu>ul>li:last-child>a {
    margin-right: 0px;
}

.main-menu>ul>li>a::after {
    content: "";
    width: 10%;
    height: 3px;
    background: rgb(233, 18, 18);
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
}

.main-menu>ul>li>a:hover::after {
    width: 100%;
    transition-duration: 0.3s;
    opacity: 1;
}

.main-board {
    height: 500px;
    background: url(Asets/IMG/MainBackground.jpg);
    background-size: cover;
    position: relative;
}

.main-board::after {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #e2ded60d;
    position: absolute;
}

.main-board .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board_left-block {
    width: 50%;
}

.main-board .main-wrapper>img {
    margin: auto;
    width: 350px;
}