* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 65px;
    background: rgb(48, 43, 35);
}

.main-wrapper {
    margin: 0 auto;
    width: 1170px;
    padding: 15px;
}

.main-menu>ul>li {
    display: inline-block;
}

header .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main-menu>ul>li>a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
}

.main-menu>ul>li:last-child>a {
    margin-right: 0px;
}

.main-menu>ul>li>a::after{
    content: "";
    width: 10%;
    height: 3px;
    background: rgb(233, 18, 18);
    position: absolute;
    left: 0;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
}
.main-menu>ul>li>a:hover::after{
    width: 100%;
    transition-duration: 0.3s;
    opacity: 1;
}